* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
a {
    text-decoration: none !important;
    cursor: pointer !important;
}
a:link {
    color: #fed136;
}
li {
    list-style: none;
}
h3 {
    font-size: 44px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    margin-bottom: 20px;
}
p {
    display: block;
    width: 100%;
}
#header {
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    position: relative;
}
.menu {
    background-color: #212529;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}
.menu h1 a {
    display: inline-block;
    width: 154px;
    line-height: 80px;
}
.menu .logo {
    width: 100%;
}
.menu ul li {
    display: inline-block;
}
.menu ul li :hover{
    color: #fed136;
}
.menu ul li a {
    padding: 0px 20px;
    line-height: 80px;
    text-transform: uppercase;
    color: white;
}
.title {
    margin-top: -120px;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}
.title p {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bold;
    width: 900px;
    margin-bottom: 60px;
    
}
.title a {
    padding: 1.25rem 2.5rem;
    border-radius: 4px;
    text-transform: uppercase;
    color: white;
    background-color: #fed136;
    font-size: 1.125rem;
    font-weight: 700;
}
.title a :hover {
    background-color:  #fec810; 
}
/* ================================SERVICES================================= */

#services {
    padding: 80px 0px;
}
.title-services {
    text-align: center;
    margin-bottom: 40px;
}
.item-service {
    text-align: center;
    padding: 30px 30px;
}
.service-icon {
    display: inline-block;
    width: 126px;
    height: 126px;
    border-radius: 50%;
    background-color: #fed136;
    margin-bottom: 24px;
}
.service-icon i {
    color: #fff;
    font-size: 84px;
    line-height: 126px;
}
/* ================================PORTFOLIO================================= */
#portfolio {
    padding: 100px 0;
    background-color:  #f8f9fa;
}
.title-portfolio {
    text-align: center;
    margin-bottom: 40px;
}
.item-portfolio {
    background: #fff;
    width: 100%;
    padding: 0px 0px;
    padding-bottom: 14px;
    margin-bottom: 18px;
    text-align: center;
}
.item-portfolio :hover .mark {
    display: block;
    transition: opacity ease-in-out 0.25s;
    background: rgba(254, 209, 54, 0.9);
}
.item-portfolio div:nth-child(1) {
    width: 100%;
    height: 266px;
    margin-bottom: 20px;
    position: relative;
}
.item-portfolio div:nth-child(1) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mark {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    align-items: center;    
    cursor: pointer;
}
.mark i {
    color: #fff;
    font-size: 66px;
    line-height: 266px;
}
/* ================================ABOUT================================= */
#about {
    padding: 100px 0;
}
.title-about {
    text-align: center;
}
.history {
    padding: 44px 0;
    position: relative;
}
.history::before {
    content: '';
    width: 2px;
    height: 92%;
    background-color: #e9ecef;
    position: absolute;
    left: 50%;
}
.result {
    margin-bottom: 120px;
}
/* ========hang chan============= */
.result:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
}
.result:nth-child(even) div:nth-child(1) {
    text-align: left;
}
.result:nth-child(even) p {
    text-align: left !important;
}
.result:nth-child(even) .img-result {
    text-align: right;
}
.result:nth-child(even) .img-result::before {
    text-align: right;
}
/* ========hang chan============= */
.result div:nth-child(1) {
    text-align: right;
}
.result div:nth-child(1) span {
    display: block;
}
.result div:nth-child(1) p {
    max-width: 70%;
    text-align: right;
    display: inline-block;
}
.img-result div {
    width: 170px;
    height: 170px;
    text-align: center;
    display: inline-block;
}
.img-result div img {
    width: 100%;
    border: 7px solid #e9ecef;
    border-radius: 50%;
    object-fit: cover;
}
.result:last-child {
    display: inline-block;
    width: 170px;
    height: 170px;
    background-color: #fed136;
    border: 6px solid #e9ecef; 
    border-radius: 50%;
    margin: 0 auto;
    z-index: 94;
}
.result:last-child div {
    display: inline-block;
    margin: 0 auto;
    max-width: 60px;
}
.result:last-child div h4 {
    font-size: 22px;
    display: inline-block;
    width: 100px;
    text-align: center;
    margin-top: 40px;
    margin-left: 14px;
}
/* ================================TEAM================================= */
#team {
    padding: 92px 0;
    background-color:  #f8f9fa;
}
.title-team {
    text-align: center;
}
.member {
    text-align: center;
    padding: 42px 0;
}
.member div {
    width: 14rem;
    height: 14rem;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
}
.member div img {
    width: 100%;
    border-radius: 50%;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
    object-fit: cover;
}
.socials li {
    display: inline-block;
}
.socials li a {
    display: inline-block;
    margin: 0 8px;
    text-align: center;
    border-radius: 50%;
    width: 40px;
    line-height: 40px;
    background-color:  #343a40;
}
.socials i {
    color: white;
}
.thank-you >div {
    margin: 0 auto;
    display: block;
    text-align: center;
}
.thank-you p {
    max-width: 700px;
    line-height: 1.75;
    font-size: 1rem;
}
/* ================================PARTNER================================= */
#partner {
    padding: 70px 0;
}
#partner .row {
    text-align: center;
}
#partner .row .col {
    width: 100%;
}
/* ================================FOTTER================================= */
#map {
    background-color: #212529;
    background-image: url(./images/map.png);
    padding: 70px 0;
}
.title-map {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}
.google-map div iframe{
    width: 100%;
    height: 390px;
}
/* ================================FOOTER================================= */
footer {
    padding: 20px 0;
    height: 60px;
}
.terms {
    text-align: right;
}
.terms a:last-child{
    margin-left: 14px;
}
.socials {
    text-align: center;
}
::-webkit-scrollbar {
    width: 10px;
    background: #212529;
}
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}
/* ===================================================RESPONSIVE========================================================= */
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}